/*.card .card-showcase .lift{
	width: 100% !important;
	height: 100% !important;
}*/

/*.half img{
	width: 100%;
	height: 100%;
}*/

/* .owl-carousel .owl-item{
	width: unset !important;
} */

/* .owl-stage .owl-item{
	width: unset !important;
} */
